body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3154 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:667px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3155 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:667px;
}
#u3156 {
  position:absolute;
  left:2px;
  top:326px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u3157 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u3158 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3161 {
  position:absolute;
  left:0px;
  top:20px;
  width:320px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3162 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u3163 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3164 {
  position:absolute;
  left:226px;
  top:28px;
  width:84px;
  height:28px;
}
#u3165 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u3166 {
  position:absolute;
  left:268px;
  top:31px;
  width:1px;
  height:22px;
}
#u3167 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:6px;
}
#u3168 {
  position:absolute;
  left:239px;
  top:40px;
  width:20px;
  height:6px;
}
#u3169 {
  position:absolute;
  left:2px;
  top:-5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3170 {
  position:absolute;
  left:281px;
  top:34px;
  width:16px;
  height:16px;
}
#u3171 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3172 {
  position:absolute;
  left:0px;
  top:64px;
  width:320px;
  height:603px;
  overflow:hidden;
}
#u3172_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:603px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3172_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3173 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:604px;
  overflow:hidden;
}
#u3173_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:604px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u3173_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3174 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3175 {
  position:absolute;
  left:10px;
  top:10px;
  width:145px;
  height:270px;
}
#u3176 {
  position:absolute;
  left:2px;
  top:127px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3177 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:180px;
}
#u3178 {
  position:absolute;
  left:23px;
  top:10px;
  width:120px;
  height:180px;
}
#u3179 {
  position:absolute;
  left:2px;
  top:82px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3180 {
  position:absolute;
  left:23px;
  top:200px;
  width:120px;
  height:31px;
  text-align:center;
}
#u3181 {
  position:absolute;
  left:10px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u3182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0033;
  text-align:center;
}
#u3182 {
  position:absolute;
  left:59px;
  top:251px;
  width:44px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0033;
  text-align:center;
}
#u3183 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u3184 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3185 {
  position:absolute;
  left:165px;
  top:10px;
  width:145px;
  height:270px;
}
#u3186 {
  position:absolute;
  left:2px;
  top:127px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3187 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:180px;
}
#u3188 {
  position:absolute;
  left:178px;
  top:10px;
  width:120px;
  height:180px;
}
#u3189 {
  position:absolute;
  left:2px;
  top:82px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3190 {
  position:absolute;
  left:178px;
  top:200px;
  width:120px;
  height:46px;
  text-align:center;
}
#u3191 {
  position:absolute;
  left:10px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u3192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0033;
  text-align:center;
}
#u3192 {
  position:absolute;
  left:214px;
  top:251px;
  width:44px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0033;
  text-align:center;
}
#u3193 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u3194 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3195 {
  position:absolute;
  left:165px;
  top:290px;
  width:145px;
  height:270px;
}
#u3196 {
  position:absolute;
  left:2px;
  top:127px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3197 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:180px;
}
#u3198 {
  position:absolute;
  left:178px;
  top:290px;
  width:120px;
  height:180px;
}
#u3199 {
  position:absolute;
  left:2px;
  top:82px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3200 {
  position:absolute;
  left:178px;
  top:480px;
  width:120px;
  height:31px;
  text-align:center;
}
#u3201 {
  position:absolute;
  left:10px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u3202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0033;
  text-align:center;
}
#u3202 {
  position:absolute;
  left:214px;
  top:531px;
  width:44px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0033;
  text-align:center;
}
#u3203 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u3204 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3205 {
  position:absolute;
  left:10px;
  top:290px;
  width:145px;
  height:270px;
}
#u3206 {
  position:absolute;
  left:2px;
  top:127px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3207 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:180px;
}
#u3208 {
  position:absolute;
  left:23px;
  top:290px;
  width:120px;
  height:180px;
}
#u3209 {
  position:absolute;
  left:2px;
  top:82px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3210 {
  position:absolute;
  left:23px;
  top:480px;
  width:120px;
  height:46px;
  text-align:center;
}
#u3211 {
  position:absolute;
  left:10px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u3212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0033;
  text-align:center;
}
#u3212 {
  position:absolute;
  left:59px;
  top:531px;
  width:44px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0033;
  text-align:center;
}
#u3213 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u3214 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3215 {
  position:absolute;
  left:10px;
  top:570px;
  width:145px;
  height:270px;
}
#u3216 {
  position:absolute;
  left:2px;
  top:127px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3217 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:180px;
}
#u3218 {
  position:absolute;
  left:23px;
  top:570px;
  width:120px;
  height:180px;
}
#u3219 {
  position:absolute;
  left:2px;
  top:82px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3220 {
  position:absolute;
  left:23px;
  top:760px;
  width:120px;
  height:31px;
  text-align:center;
}
#u3221 {
  position:absolute;
  left:10px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u3222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0033;
  text-align:center;
}
#u3222 {
  position:absolute;
  left:59px;
  top:811px;
  width:44px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0033;
  text-align:center;
}
#u3223 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u3224 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3225 {
  position:absolute;
  left:165px;
  top:570px;
  width:145px;
  height:270px;
}
#u3226 {
  position:absolute;
  left:2px;
  top:127px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3227 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:180px;
}
#u3228 {
  position:absolute;
  left:178px;
  top:570px;
  width:120px;
  height:180px;
}
#u3229 {
  position:absolute;
  left:2px;
  top:82px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3230 {
  position:absolute;
  left:178px;
  top:760px;
  width:120px;
  height:46px;
  text-align:center;
}
#u3231 {
  position:absolute;
  left:10px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u3232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0033;
  text-align:center;
}
#u3232 {
  position:absolute;
  left:214px;
  top:811px;
  width:44px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0033;
  text-align:center;
}
#u3233 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u3234 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3235 {
  position:absolute;
  left:165px;
  top:850px;
  width:145px;
  height:270px;
}
#u3236 {
  position:absolute;
  left:2px;
  top:127px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:180px;
}
#u3238 {
  position:absolute;
  left:178px;
  top:850px;
  width:120px;
  height:180px;
}
#u3239 {
  position:absolute;
  left:2px;
  top:82px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3240 {
  position:absolute;
  left:178px;
  top:1040px;
  width:120px;
  height:31px;
  text-align:center;
}
#u3241 {
  position:absolute;
  left:10px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u3242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0033;
  text-align:center;
}
#u3242 {
  position:absolute;
  left:214px;
  top:1091px;
  width:44px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0033;
  text-align:center;
}
#u3243 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u3244 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3245 {
  position:absolute;
  left:10px;
  top:850px;
  width:145px;
  height:270px;
}
#u3246 {
  position:absolute;
  left:2px;
  top:127px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3247 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:180px;
}
#u3248 {
  position:absolute;
  left:23px;
  top:850px;
  width:120px;
  height:180px;
}
#u3249 {
  position:absolute;
  left:2px;
  top:82px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3250 {
  position:absolute;
  left:23px;
  top:1040px;
  width:120px;
  height:46px;
  text-align:center;
}
#u3251 {
  position:absolute;
  left:10px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u3252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0033;
  text-align:center;
}
#u3252 {
  position:absolute;
  left:59px;
  top:1091px;
  width:44px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CC0033;
  text-align:center;
}
#u3253 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u3254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:28px;
}
#u3254 {
  position:absolute;
  left:10px;
  top:28px;
  width:18px;
  height:28px;
}
#u3255 {
  position:absolute;
  left:2px;
  top:6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
