body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:667px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:667px;
}
#u1987 {
  position:absolute;
  left:2px;
  top:326px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u1988 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1992 {
  position:absolute;
  left:0px;
  top:20px;
  width:320px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1993 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u1994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1995 {
  position:absolute;
  left:226px;
  top:28px;
  width:84px;
  height:28px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u1997 {
  position:absolute;
  left:268px;
  top:31px;
  width:1px;
  height:22px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:6px;
}
#u1999 {
  position:absolute;
  left:239px;
  top:40px;
  width:20px;
  height:6px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:-5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2001 {
  position:absolute;
  left:281px;
  top:34px;
  width:16px;
  height:16px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:28px;
}
#u2003 {
  position:absolute;
  left:10px;
  top:28px;
  width:18px;
  height:28px;
}
#u2004 {
  position:absolute;
  left:2px;
  top:6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2005 {
  position:absolute;
  left:0px;
  top:74px;
  width:320px;
  height:96px;
}
#u2006 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2007 {
  position:absolute;
  left:48px;
  top:79px;
  width:129px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2008 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2009 {
  position:absolute;
  left:48px;
  top:126px;
  width:138px;
  height:17px;
  color:#999999;
}
#u2010 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u2011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2011 {
  position:absolute;
  left:48px;
  top:143px;
  width:229px;
  height:17px;
  color:#999999;
}
#u2012 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u2013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2014 {
  position:absolute;
  left:10px;
  top:110px;
  width:23px;
  height:23px;
  font-size:23px;
}
#u2015 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2016 {
  position:absolute;
  left:10px;
  top:110px;
  width:23px;
  height:23px;
}
#u2016_img.selected {
}
#u2016.selected {
}
#u2017 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u2018 {
  position:absolute;
  left:0px;
  top:169px;
  width:320px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2019 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:46px;
}
#u2020 {
  position:absolute;
  left:15px;
  top:551px;
  width:290px;
  height:46px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2020_img.mouseDown {
}
#u2020.mouseDown {
}
#u2021 {
  position:absolute;
  left:2px;
  top:10px;
  width:286px;
  word-wrap:break-word;
}
#u2022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2022 {
  position:absolute;
  left:48px;
  top:104px;
  width:229px;
  height:17px;
}
#u2023 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
