body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3134 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:667px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:1px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3135 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:667px;
}
#u3136 {
  position:absolute;
  left:2px;
  top:326px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u3137 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u3138 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3141 {
  position:absolute;
  left:0px;
  top:20px;
  width:320px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3142 {
  position:absolute;
  left:2px;
  top:11px;
  width:316px;
  word-wrap:break-word;
}
#u3143 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3144 {
  position:absolute;
  left:226px;
  top:28px;
  width:84px;
  height:28px;
}
#u3145 {
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u3146 {
  position:absolute;
  left:268px;
  top:31px;
  width:1px;
  height:22px;
}
#u3147 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:6px;
}
#u3148 {
  position:absolute;
  left:239px;
  top:40px;
  width:20px;
  height:6px;
}
#u3149 {
  position:absolute;
  left:2px;
  top:-5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3150 {
  position:absolute;
  left:281px;
  top:34px;
  width:16px;
  height:16px;
}
#u3151 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:28px;
}
#u3152 {
  position:absolute;
  left:10px;
  top:28px;
  width:18px;
  height:28px;
}
#u3153 {
  position:absolute;
  left:2px;
  top:6px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
