body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:763px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:20px;
  width:748px;
  height:185px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3 {
  position:absolute;
  left:112px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:212px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:312px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:30px;
}
#u9 {
  position:absolute;
  left:412px;
  top:0px;
  width:331px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:327px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u11 {
  position:absolute;
  left:0px;
  top:30px;
  width:112px;
  height:30px;
  font-size:16px;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:112px;
  top:30px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15 {
  position:absolute;
  left:212px;
  top:30px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u16 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17 {
  position:absolute;
  left:312px;
  top:30px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:30px;
}
#u19 {
  position:absolute;
  left:412px;
  top:30px;
  width:331px;
  height:30px;
  font-size:16px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:327px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u21 {
  position:absolute;
  left:0px;
  top:60px;
  width:112px;
  height:30px;
  font-size:16px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23 {
  position:absolute;
  left:112px;
  top:60px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u25 {
  position:absolute;
  left:212px;
  top:60px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u27 {
  position:absolute;
  left:312px;
  top:60px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:30px;
}
#u29 {
  position:absolute;
  left:412px;
  top:60px;
  width:331px;
  height:30px;
  font-size:16px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u31 {
  position:absolute;
  left:0px;
  top:90px;
  width:112px;
  height:30px;
  font-size:16px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u33 {
  position:absolute;
  left:112px;
  top:90px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u35 {
  position:absolute;
  left:212px;
  top:90px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u37 {
  position:absolute;
  left:312px;
  top:90px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:30px;
}
#u39 {
  position:absolute;
  left:412px;
  top:90px;
  width:331px;
  height:30px;
  font-size:16px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u41 {
  position:absolute;
  left:0px;
  top:120px;
  width:112px;
  height:30px;
  font-size:16px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u43 {
  position:absolute;
  left:112px;
  top:120px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u45 {
  position:absolute;
  left:212px;
  top:120px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u47 {
  position:absolute;
  left:312px;
  top:120px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:30px;
}
#u49 {
  position:absolute;
  left:412px;
  top:120px;
  width:331px;
  height:30px;
  font-size:16px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u51 {
  position:absolute;
  left:0px;
  top:150px;
  width:112px;
  height:30px;
  font-size:16px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u53 {
  position:absolute;
  left:112px;
  top:150px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u55 {
  position:absolute;
  left:212px;
  top:150px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u57 {
  position:absolute;
  left:312px;
  top:150px;
  width:100px;
  height:30px;
  font-size:16px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:30px;
}
#u59 {
  position:absolute;
  left:412px;
  top:150px;
  width:331px;
  height:30px;
  font-size:16px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
